/* Log in page, Sign in page and forgot password page */
body {
    font-family: 'Poppins', sans-serif;
}

.togglePass {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(31, 143, 255, 0.7);
    transition: color 0.3s ease;
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}

.togglePass:hover {
    color: rgba(31, 143, 255, 1);
    font-size: 1.22rem;
}

.link {
    color: var(--primary-blue);
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--primary-blue-dark) !important;
    text-decoration: underline !important;
}

.btnLink:hover {
    color: white;
}

.custom-shadow {
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.208);
}